{% extends 'layouts/layout.html' %} {% comment "" %}la dobre {{}} sirve para usar variables que vengan desde python{% endcomment %}

{% block title %}
    {{article.title}}
{% endblock title %}

{% block content %}
    {% if article.image != 'null' and article.image.url|length >= 1%}
                
                <div class="image">  
                <img src="{{article.image.url}}"/>
                </div>                

    {% endif %}

    <h1>{{article.title}}</h1>
    
    <span> {{article.created_at}}</span>
    
    <p>
        {{article.content|safe}} {# safe para que agarre html de ckeditor #}
    </p>

{% endblock content %} 